apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: prometheus
spec:
  serviceAccountName: prometheus
  podMonitorSelector:
    matchLabels:
      group: dragonfly
      app: dragonfly-sample
  resources:
    requests:
      memory: 400Mi
