apiVersion: v1
kind: Service
metadata:
  name: {{ include "dragonfly-operator.controllerServiceName" . }}
  labels:
    {{- include "dragonfly-operator.labels" . | nindent 4 }}
    app.kubernetes.io/component: kube-rbac-proxy
  namespace: {{ include "dragonfly-operator.namespace" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: https
      protocol: TCP
      name: https
    - port: {{ .Values.service.metricsPort }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "dragonfly-operator.selectorLabels" . | nindent 4 }}
    control-plane: controller-manager
